div.bigstars div.rateit-range{
    background: url('../img/star-white32.png');
    height: 32px;
}

div.bigstars div.rateit-hover{
    background: url('../img/star-gold32.png');
}

div.bigstars div.rateit-selected{
    background: url('../img/star-red32.png');
}

div.bigstars div.rateit-reset{
    background: url('../img/star-black32.png');
    width: 32px;
    height: 32px;
}

div.bigstars div.rateit-reset:hover{
    background: url('../img/star-white32.png');
}

.rateit button.rateit-reset{
    margin-top:10px;
}
